<Alloy>
    <Window id="win" backgroundColor="white">
        <TableView id="table">
            <TableViewSection id="AccountSection" headerTitle="Account">
                <TableViewRow title="My Account" onClick="goMyAccount"/>
                <TableViewRow title="Upgrade to Premium" onClick="goPremium"/>
                <TableViewRow title="Connect with Facebook" onClick="goFacebook"/>
            </TableViewSection>
            <TableViewSection id="GeneralSection" headerTitle="General">
                <TableViewRow title="Units" onClick="goUnits"/>
                <TableViewRow title="Notifications" onClick="goNotifications"/>
                <TableViewRow title="Privacy" onClick="goPrivacy"/>
            </TableViewSection>
            <TableViewSection id="HelpSection" headerTitle="Help">
                <TableViewRow title="FAQ" onClick="goFaq"/>
                <TableViewRow title="Contact Us" onClick="goContact"/>
            </TableViewSection>
        </TableView>
    </Window>
</Alloy>